{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Please answer the following questions.</h1>
    <p>Your answers will help us predict your future</p>
</div>
    <form method="POST">
        {{form.hidden_tag()}}

        {{ form.gender.label }} {{form.gender()}}
        <br>
        {{ form.relevant_experience.label }} {{form.relevant_experience()}}
        <br>
        {{ form.education_level.label }} {{form.education_level()}}
        <br>
        {{ form.major_discipline.label }} {{form.major_discipline()}}
        <br>
        {{ form.company_type.label }} {{form.company_type()}}
        <br>
        {{ form.company_size.label }} {{form.company_size()}}
        <br>
        {{form.submit()}}
    </form>

</div>


{% endblock %}