{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Charts</h1>
</div>

<div class="container" style="background-color: #e1ecea;>
    <article class=" description-content row">
    <!-- <div class="col-xs-12">
        <h1 class="description-header">description-content</h1>
        <hr class="description-hr"/>
        <p class="description-text">description-text.</p>
      </div> -->

    <div class="col-md-fluid">
        <h2>Background</h2>
        <img src="static/images/Cindy/Educational Background.PNG" alt="ed_background">
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2>Cities</h2>
        <img src="static/images/Cindy/Cities.PNG" alt="City">
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2>Education</h2>
        <img src="static/images/Cindy/Education.PNG" alt="education">
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2>Experience</h2>
        <img src="static/images/Cindy/Experience.PNG" alt="experience">
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2>Gender</h2>
        <img src="static/images/Cindy/Gender.PNG" alt="gender">
    </div>

    <div class="col-md-fluid">
        <h2>Gender Count</h2>
        <img src="static/images/Cindy/Gender Count.PNG" alt="gender_count">
    </div>

    <div class="col-md-fluid">
        <h2>Location</h2>
        <img src="static/images/Cindy/Location.PNG" alt="location">
    </div>

    <div class="col-md-fluid">
        <h2>KNN Version 1</h2>
        <img src="static/images/Rawaf/KNN_eval_1st.png" alt="location">
    </div>

    <div class="col-md-fluid">
        <h2>KNN Version 2</h2>
        <img src="static/images/Rawaf/KNN_eval_2nd.png" alt="location">
    </div>

    <div class="col-md-fluid">
        <h2>AUC Version 1</h2>
        <img src="static/images/Rawaf/KNN_eval_1st.png" alt="location">
    </div>

    <div class="col-md-fluid">
        <h2>AUC Version 2</h2>
        <img src="static/images/Rawaf/KNN_eval_2nd.png" alt="location">
    </div>

</div>
{% endblock %}