{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Charts</h1>
</div>

<div class="container" style="background-color: #e1ecea;>
    <article class=" description-content row">
    <!-- <div class="col-xs-12">
        <h1 class="description-header">description-content</h1>
        <hr class="description-hr"/>
        <p class="description-text">description-text.</p>
      </div> -->

    <div class="col-md-fluid">
        <h2 class="comparison-header">Background</h2>
        <a href="vis1.html"><img src="static/images/Cindy/Educational Background.png" alt="Cities"
                class="comparison-image img-responsive"></a>
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2 class="comparison-header">Cities</h2>
        <a href="vis1.html"><img src="static/images/Cindy/Cities.png" alt="Cities" class="comparison-image img-responsive"></a>
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2 class="comparison-header">Education</h2>
        <a href="vis2.html"><img src="static/images/Cindy/Education.png" alt="income_vs_child_mortality"
                class="comparison-image img-responsive"></a>
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2 class="comparison-header">Experience</h2>
        <a href="vis3.html"><img src="static/images/Cindy/Experience.png" alt="income_vs_life"
                class="comparison-image img-responsive"></a>
        <hr class="visible-xs visible-sm">
    </div>

    <div class="col-md-fluid">
        <h2 class="comparison-header">Gender</h2>
        <a href="vis4.html"><img src="static/images/Cindy/Gender.png" alt="income_vs_co2"
                class="comparison-image img-responsive"></a>
    </div>

    <div class="col-md-fluid">
        <h2 class="comparison-header">Gender Count</h2>
        <a href="vis4.html"><img src="static/images/Cindy/Gender Count.png" alt="income_vs_co2"
                class="comparison-image img-responsive"></a>
    </div>

    <div class="col-md-fluid">
        <h2 class="comparison-header">Location</h2>
        <a href="vis4.html"><img src="static/images/Cindy/Location.png" alt="income_vs_co2"
                class="comparison-image img-responsive"></a>
    </div>
    </article>

</div>
{% endblock %}