{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Welcome to JobSwitch Predictor</h1>
    <p>Explore the charts below for an explanation of our project, dataset, and analysis for Project 3 - Demystifying
        Machine Learning</p>
</div>

<div class="container">
    <h2>Job Switching</h2>
    <hr>
    </hr>

    <p>
        This database from Kaggle was created to help a theoretical company predict a job candidate's decision to switch
        jobs, based upon the HR
        metrics collected (see 'The Dataset', below). The original dataset consists of over 19,000 records, which after
        pre-processing resulted in 1,612 being used to train and test our ML models. We also collected survey data to
        conduct predictions with the model we developed: <br>
        
        <a
            href="https://docs.google.com/forms/d/e/1FAIpQLScenpR61mZPLGjWNPdp3T0JGgsOp20Hl7FPlAmHF2EyPIvX4A/viewform">https://docs.google.com/forms/d/e/1FAIpQLScenpR61mZPLGjWNPdp3T0JGgsOp20Hl7FPlAmHF2EyPIvX4A/viewform</a>
        <br><br>Please refer to the following link for more
        details on the original data: <br>
        <a
            href="https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists">https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists</a>
    </p>

    <i>
        <p>"Context and Content
            A company which is active in Big Data and Data Science wants to hire data scientists among people who
            successfully pass some courses which conduct by the company. Many people signup for their training. Company
            wants to know which of these candidates are really wants to work for the company after training or looking
            for a
            new employment because it helps to reduce the cost and time as well as the quality of training or planning
            the
            courses and categorization of candidates. Information related to demographics, education, experience are in
            hands from candidates signup and enrollment.</p>

        <p>This dataset designed to understand the factors that lead a person to leave current job for HR researches
            too." - Kaggle Description
    </i>
    </p>



    <h2>The Dataset</h2>
    <hr>
    </hr>

    <p> The following HR metrics of potential employees were included within the CSV:</p>

    <p>enrollee_id : Unique ID for candidate</p>

    <p>city: City code</p>

    <p>gender: Gender of candidate</p>

    <p>relevent_experience: Relevant experience of candidate</p>

    <p>enrolled_university: Type of University course enrolled if any</p>

    <p>education_level: Education level of candidate</p>

    <p>major_discipline :Education major discipline of candidate</p>

    <p>experience: Candidate total experience in years</p>

    <p>company_size: No of employees in current employer's company</p>

    <p>company_type : Type of current employer</p>

    <p>target: 0 – Not looking for job change, 1 – Looking for a job change</p>

</div>
<div class="col-md-10">
    <div id="figure-area" class="">
        <br>
        <h2 class="text-center">ML Classification Model Development</h2>

        <p>Can we create a Machine Learning model that will be able to predict whether members of our bootcamp class are
            seeking to change jobs? In order to answer this question, we had to train & test a range of Classification
            Models in order to select the optimal one. Classification models predict outcomes rather than values, which
            in our case the outcomes were either 'Switch jobs' or 'Won't switch jobs'. The models we evaluated were
            Logistic Regression, Random Forest, and K Nearest Neighbor (KNN) (all available from SciKit Learn). We used
            an AUC-ROC Curve to compare the accuracy of our three trained classification models</p>

        <p>
        <h3>Pre-processing</h3><br>
        To train our model, our first step was to clean and balance our data: we dropped all null values, and randomly
        sampled an equal number of both Male and Female candidates (since the original dataset was highly skewed towards
        males). This left us with 1,612 records which we then Binary Encoded in order to fit and train our models.</p>

        <p>
        <h3>Training & Testing</h3><br>
        The first version of our models were able to correctly classify our test data between 53-60% of the time. The
        best performer was the Logistic Regression model, as shown in the first AUC comparison graph.</p><br>
        <h5>AUC Version 1</h5>
        <img class="nav-ufo" src="static/images/Rawaf/AUC_comparison_1st.png"><br><br>
        <p>For the KNN models, we had to iterate over a series of K-values to find the optimum. As seen in the graph
            below, we chose K=7.</p>
        <h5>KNN Version 1</h5>
        <img class="nav-ufo" src="static/images/Rawaf/KNN_eval_1st.png"><br><br>

        <p>
        <h3>Survey, Retraining & Prediction</h3><br>
        However after creating our class survey, we found that we couldn't collect data on a number of dimensions that
        had been used to train our first models; namely, City Development Index, Years of Experience, Last New Job, and
        Training Hours. So we had to re-train our models on fewer dimensions. Subsequently, the second versions of our
        models were only able to correctly classify our test data between 46-56% of the time (no better than chance).
        Once again, the best performer was Logistic Regression, as shown in the second AUC comparison graph.</p><br>
        <h5>AUC Version 2</h5>
        <img class="nav-ufo" src="static/images/Rawaf/AUC_comparison_2nd.png"><br><br>
        <p>For the second KNN model, the worst performer, we struggled to find a valid K-value, as seen in the graph
            below.</p><br><br>
        <h5>KNN Version 2</h5>
        <img class="nav-ufo" src="static/images/Rawaf/KNN_eval_2nd.png">

        <p>
        <h3>Conclusion</h3><br>
        Further investigation of other projects using this same dataset revealed that the most predictive factors for
        job switching were City Development Index and Years of Experience, which probably explains the degraded
        performance of our three models in their second iterations.</p><br>



    </div>
</div>
{% endblock %}