{% extends "base.html" %}
{% block content %}
  
<h2>Where Are the Data Students? UCSD & Berkeley Classes</h2>
                    <hr>
                    <img src="static/images/Cindy/map.png" alt="map">
                    <p class="p1"> Hi everyone! This is a leaflet map of where all the data students are currently located. As you can see, it's a good split between Norcal and Socal. Interestingly, we have a handful of students taking the UCSD data course in Norcal and a few UCSD Undergraduates taking the Berkeley data course!</p>

  {% endblock %}