{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Survey</h1>
</div>

<li><a href="static/images/Cindy/Cities.PNG">Cities</a></li>
<li><a href="static/images/Cindy/type.PNG">Type of Work</a></li>
<li><a href="static/images/Cindy/Experience.PNG">Experience</a></li>
</ul>
</li>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>Who Are the Data Students? UCSD & Berkeley</h2>
                    <hr>
                    <img src="static/images/Cindy/Location.PNG" alt="location">
                    <p class="p1"> AT 78.8%, UCSD data students was able to answer more surveys compared to Berkeley
                        students. The biggest factor for this high survey rate is that UCSD has a total of 33
                        students while Berkeley has only 17. Only 15% of Berkeley students finished the survey while
                        81% of students from UCSD finshed the survey.

                        <img src="static/images/Cindy/Gender Count.PNG" height="450" width="720" alt="gender_count">
                    <p class="p1"> For our survey, we wanted to observe the gender distribution in both courses.
                        Interestingly, we only had a slightly higher male population in our data class. The score
                        was 18 Males vs. 16 Females.


                        <img src="static/images/Cindy/Major.PNG" height="450" width="720" alt="major">
                    <p class="p1">The majority of data students are business finance majors while actual data
                        science majors made it in sencond with 6 students and sciences such as bio made it third in
                        the survey.


                        <img src="static/images/Cindy/Educational Background.PNG" height="450" width="720" alt="ed_background">
                    <p class="p1"> Half of the students finished their under grad, while 41.2% were able to finish
                        their graduate programs.
                    <footer class="footer navbar-fixed-bottom">

                        <div class="two-toned-footer-color"></div>
                        <p class="text-muted text-muted-footer text-center">

                            {% endblock %}